In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [3]:
df=pd.read_csv("C:/Users/Quick Computers/Downloads/COVID-19.csv")

In [30]:
df["sex"].replace ("Unknown",np.nan,inplace=True)
df["hosp_yn"].replace ("Unknown",np.nan,inplace=True)
df["medcond_yn"].replace ("Unknown",np.nan,inplace=True)
df.dropna (inplace=True)

In [5]:
#df['sex']=df['sex'].map({'Male':1,'Female':0,'Missing':2,'Other':3})
#df['age_group']=df['age_group'].map({'10 - 19 Years':0,'20 - 29 Years':1})

In [31]:
enc=LabelEncoder()

In [32]:
df["sex"]=enc.fit_transform(df["sex"])
df["age_group"]=enc.fit_transform(df["age_group"])
df["hosp_yn"]=enc.fit_transform(df["hosp_yn"])
df["medcond_yn"]=enc.fit_transform(df["medcond_yn"])

In [33]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [34]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=10)

In [35]:
sc=MinMaxScaler()
X_train_new=sc.fit_transform(X_train)
X_test_new=sc.transform(X_test)

In [36]:
model=LogisticRegression()
model.fit(X_train_new,y_train)

C:\Users\Quick Computers\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [37]:
print(model.score(X_train_new,y_train))
print(model.score(X_test_new,y_test))

0.8570526574170052
0.8576472988918759

In [38]:
df

         sex  age_group  hosp_yn  medcond_yn death_yn
0          1          0        1           1       No
1          1          0        1           1       No
2          1          0        1           1       No
3          1          0        0           0       No
4          1          0        1           2       No
...      ...        ...      ...         ...      ...
1048570    1          1        1           0  Missing
1048571    1          1        1           0  Missing
1048572    1          1        1           0       No
1048573    1          1        0           0  Missing
1048574    1          1        1           0       No

[901703 rows x 5 columns]

In [ ]:

test_sample=[input("enter sex:","enter age:","enter hospital condition:","enter medical condition:")]
test_sample_new=sc.transform(test_sample)
print(model.predict(test_sample_new))
print(model.predict_proba(test_sample_new))